<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Wall | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!--External CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!--External CSS End-->

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/AdminLTE.min.css">
  <link rel="stylesheet" href="/styles/_all-skins.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/minimal/_all.css">
  <link rel="stylesheet" href="/styles/minimal/aero.css">
  <link rel="stylesheet" href="/styles/minimal/blue.css">
  <link rel="stylesheet" href="/styles/minimal/green.css">
  <link rel="stylesheet" href="/styles/minimal/grey.css">
  <link rel="stylesheet" href="/styles/minimal/minimal.css">
  <link rel="stylesheet" href="/styles/minimal/orange.css">
  <link rel="stylesheet" href="/styles/minimal/pink.css">
  <link rel="stylesheet" href="/styles/minimal/purple.css">
  <link rel="stylesheet" href="/styles/minimal/red.css">
  <link rel="stylesheet" href="/styles/minimal/yellow.css">
  <!--STYLES END-->

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <%- partial('partials/header.ejs') %>
  <%- partial('partials/aside.ejs') %>

  <div class="content-wrapper">
    <%- body %>
  </div>
</div>

<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jQuery-2.1.4.min.js"></script>
<script src="/js/dependencies/angular.min.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/ngapp.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/app.min.js"></script>
<script src="/js/icheck.min.js"></script>
<!--SCRIPTS END-->
<%- blocks.localScripts %>
</body>
</html>
