<p><strong>Hi  <%= user.name %> </strong></p>
<p>Your new password is <strong> <%= newpassword %> </strong></p>
<br/><br/>
<p>Thank You,</p>
<p>Regards ,</p>
<p><strong>Timesheet Online Team</strong></p>