<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <h1>Projects</h1>
      <div ng-view></div>
    </div>
  </div>
</section>
<% block('localScripts', '<script src="/angular/ngProjectApp.js"></script>') %>
<% block('localScripts', '<script src="/angular/ngClientController.js"></script>') %>
