<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <h1>Tags</h1>
            <div ng-view></div>
        </div>
    </div>
</section>
<% block('localScripts', '<script src="/angular/tags/tagApp.js"></script>') %>
<% block('localScripts', '<script src="/angular/tags/tagController.js"></script>') %>
<% block('localScripts', '<script src="/angular/tags/tagFact.js"></script>') %>