<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <h1>Time Entries</h1>
            <div ng-view></div>
        </div>
    </div>
</section>
<% block('localScripts', '<script src="/angular/ngTimeEntriesApp.js"></script>') %>
<% block('localScripts', '<script src="/angular/ngTagApp.js"></script>') %>
<% block('localScripts', '<script src="/angular/ngProjectApp.js"></script>') %>