<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <h1>Time Entries</h1>
            <div ng-view></div>
        </div>
    </div>
</section>
<% block('localScripts', '<script src="/angular/timeEntries/timeEntriesApp.js"></script>') %>
<% block('localScripts', '<script src="/angular/timeEntries/timeEntriesController.js"></script>') %>
<% block('localScripts', '<script src="/angular/timeEntries/timeEntriesFact.js"></script>') %>
<% block('localScripts', '<script src="/angular/tags/tagFact.js"></script>') %>
<% block('localScripts', '<script src="/angular/projects/projectFact.js"></script>') %>
<% block('localScripts', '<script src="/angular/clients/clientFact.js"></script>') %>