<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <h1>User</h1>
      <div ng-view></div>
    </div>
  </div>
</section>
<% block('localScripts', '<script src="/angular/user/userApp.js"></script>') %>
<% block('localScripts', '<script src="/angular/user/userFact.js"></script>') %>
<% block('localScripts', '<script src="/angular/user/userController.js"></script>') %>
