<div class="row">
  <div class="col-sm-5 col-sm-push-3">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Change Password</h3>
      </div>

      <div class="box-body">
        <div class="has-error" ng-if="errors">
          <p class="text-danger" ng-repeat="(key, value) in errors">{{value}}</p>
        </div>
        <p class="text-success" ng-if="success">{{success}}</p>

        <form name="changePasswordForm" ng-submit="saveChangePassword(changePasswordForm.$valid)" novalidate>

          <input type='hidden' name='_csrf' value='<%= _csrf %>' ng-model="currentUser._csrf">

          <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" name="current_password"
                   id="current_password" placeholder="Enter your current password"
                   class="form-control" ng-model="currentUser.current_password" required/>

            <div ng-if="changePasswordForm.submitted && changePasswordForm.current_password.$invalid"
                 class="errors">
              <p class="text-danger" ng-message="required">Please enter current password!</p>
            </div>
          </div>
          <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" name="new_password"
                   id="new_password" placeholder="Enter new password"
                   class="form-control" ng-model="currentUser.new_password" required/>

            <div ng-if="changePasswordForm.submitted && changePasswordForm.new_password.$invalid"
                 class="errors">
              <p class="text-danger" ng-message="required">Please enter new password!</p>
            </div>
          </div>

          <div class="form-group">
            <label for="confirm_password">Confirm New password</label>
            <input type="password" name="confirm_password"
                   id="confirm_password" placeholder="Enter new password again"
                   class="form-control" ng-model="currentUser.confirm_password" required
                   pw-check="new_password"/>

            <div ng-if="changePasswordForm.submitted && changePasswordForm.confirm_password.$invalid"
                 class="errors">
              <p class="text-danger" ng-message="required">Confirm Password not matching with New
                Password!</p>

            </div>
          </div>

          <button class="btn btn-success" ng-click="changePasswordForm.submitted=true">
            <i class="fa fa-upload"></i> Save
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
