<div class="row">
  <div class="col-sm-6 col-sm-push-2">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Add new Project</h3>
      </div>

      <div class="box-body">
        <form name="newProjectForm" ng-submit="saveProject()">
          <input type='hidden' name='_csrf' value='<%= _csrf %>' ng-model="newProject._csrf">

          <div class="form-group">
            <label for="project_name">Project name</label>
            <input type="text" name="name"
            id="project_name" placeholder="Enter the project name"
            class="form-control" ng-model="newProject.display_name" required/>
          </div>

          <div class="form-group">
            <label for="client">Client</label>
            <oi-select
            oi-options="item.client_name for item in clients track by item.id"
            ng-model="newProject.client"
            placeholder="Select">
          </oi-select>
        </div>

        <button class="btn btn-success">
          <i class="fa fa-upload"></i> Save
        </button>

      </form>
    </div>
  </div>
</div>
</div>
